/_ReSharper*
App_Data/
/QuickSwap.Web/StyleCop.Cachebin/
bin/
obj/
*.suo
*.user
*.Cache
*.ReSharper
/QuickSwap.Web.UI/Data
*/_ReSharper*
packages
*.swp
QuickSwap.Test.Web/Source/Scripts/
QuickSwap.Web.UI.Test/Source/Scripts*/

/QuickSwap.Core/*.ncrunchproject
*.ncrunchproject
*.ncrunchsolution
*_NCrunch_*
/Borderline.DbC/*.nupkg
